.login-container {
    max-width: 380px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.logo {
    margin-bottom: 20px;
}

#error-message {
    display: none;
    color: red;
    margin-bottom: 15px;
}
